/* 
    Created on : 03 Des 15, 11:01:36
    Author     : fazri
*/

//color variables
@_created:#777;
@_request:#5bc0de;
@_received:#5cb85c;
@_paid:#5bc0de;
@_verified:#2FCF2F;
@_cancel:#d9534f;
@_finished:#337ab7;

.header-desc{
    font-size:12px;
    vertical-align: middle;
}

.align-center{
    text-align: center;
}

.table-header{
    font-size:14px;
    font-weight:bold;
    margin:0;
    margin-top:10px;
    padding:8px 17px;
    background:#00c0ff;
    color:white;
}

.input-group-sm .input-group-addon{
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.form-group-sm .radio-inline,
.form-group-sm .checkbox-inline{
    font-size:12px;
}

.form-transition{
    transition:height .5s ease;
    -webkit-transition:height .5s ease;
    -moz-transition: height .5s ease;
    -o-transition: height .5s ease;
}

.register-logo small,
.login-logo small{
    font-size:16px;
    line-height:1em;
}

.alert-sm{
    padding:10px 15px;
    font-size:13px;
    line-height:1.2em;
    font-weight:100;
    
    &.alert-dismissable .close,
    &.alert-dismissible .close{
        right:-10px;
    }
}


.label-created{
    background:@_created;
}
.label-request{
    background:@_request;
}
.label-received{
    background:@_received;
}
.label-paid{
    background:@_paid;
}
.label-verified{
    background:@_verified;
}
.label-cancel{
    background:@_cancel;
}
.label-finished{
    background:@_finished;
}

