
.header-desc {
  font-size: 12px;
  vertical-align: middle;
}
.align-center {
  text-align: center;
}
.table-header {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
  padding: 8px 17px;
  background: #00c0ff;
  color: white;
}
.input-group-sm .input-group-addon {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.form-group-sm .radio-inline,
.form-group-sm .checkbox-inline {
  font-size: 12px;
}
.form-transition {
  transition: height .5s ease;
  -webkit-transition: height .5s ease;
  -moz-transition: height .5s ease;
  -o-transition: height .5s ease;
}
.register-logo small,
.login-logo small {
  font-size: 16px;
  line-height: 1em;
}
.alert-sm {
  padding: 10px 15px;
  font-size: 13px;
  line-height: 1.2em;
  font-weight: 100;
}
.alert-sm.alert-dismissable .close,
.alert-sm.alert-dismissible .close {
  right: -10px;
}
.label-created {
  background: #777777;
}
.label-request {
  background: #5bc0de;
}
.label-received {
  background: #5cb85c;
}
.label-paid {
  background: #5bc0de;
}
.label-verified {
  background: #2fcf2f;
}
.label-cancel {
  background: #d9534f;
}
.label-finished {
  background: #337ab7;
}

.divQLoading {
	display: none;
    margin: 0px;
	padding: 0px;
	font-size: 24px;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 100%;
	background-color: rgba(102, 102, 102, 0);
	z-index: 30001;
	opacity: 1;
	text-align: center;
}