/* 
    Document   : barco
    Created on : 01 Nov 12, 16:04:29
    Author     : andik
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.b128{
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1px;
    height: 60px;
    float:left;
}
